/* Login.css */

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bodylogin {
    background-image: url('/public/login.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page {
    position: relative;
    min-height: 100vh;
}

.login-box {
    width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(205, 63, 162);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.user-box {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
}

.butonlogin {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(205, 63, 162);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buton:hover {
    background-color: #8b4513;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}